* {
  margin: 0;
  padding: 0;
}
:root {
  --verydark: hsl(300, 43%, 22%);
  --softpink: hsl(333, 80%, 67%);

  --darkgrayish: hsl(303, 10%, 53%);
  --lightgrayish: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}
.star {
  border-radius: 10px;
  padding: 15px 30px;
  margin-bottom: 15px;
}
.star p{
  margin-left: 20px;
}
.stars p {
  font-weight: 500;
}
.container {
  background-image: url("images/bg-pattern-top-desktop.svg"),
    url("images/bg-pattern-bottom-desktop.svg");

  background-position: top -334px left -20px, bottom -380px right -145px;
  background-repeat: no-repeat;
  background-size: 721px 731px, 900px 700px;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100vh;
  background-color: yellowgreen;
}

.title h1 {
  color: var(--verydark);
  font-weight: 700;
  padding-right: 135px;
}
.title p {
  color: var(--darkgrayish);
  font-weight: 400;
}

.stars p {
  display: inline-block;
  color: var(--verydark);
}
.rows {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row1 {
  /* height: 50vh; */
  display: flex;
  align-items: stretch;
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
overflow: hidden;

}

.row1 .col-1 {
  flex-basis: 41%;
}
.row1 .col-2 {
  flex-basis: 44%;
  flex-direction: column;
  display: flex;
  /* align-items: center;
  justify-content: space-around;
  overflow: hidden; */
}

.col-2 .row-1 {
  background-color: var(--lightgrayish);
  align-self: flex-start;
}
.col-2 .row-2 {
  background-color: var(--lightgrayish);
  align-self: center;
}
.col-2 .row-3 {
  background-color: var(--lightgrayish);
  align-self: flex-end;
}

@media only screen and (max-width: 600px) {
  .row1 {
    padding: 0;
      flex-flow:column wrap;
  }
  .row1 .col-1{
    flex-basis: auto !important;
  }
  .row1 .col-2{
    flex-basis: auto !important;
    padding: 0 14px;
  }
  .title{
    text-align: center;
  }
  .title h1{
    padding-right: 0;
    padding: 0 20px;
  }
  .title p{
    padding: 0 14px;
  }
}

/*-------------*/
.row2 {
  background-color: violet;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}

.row2 .col-1 {
  flex-grow: 1;
  /* flex-shrink: 1; */
  flex-basis: 100px;
  align-self: flex-start;
  background-color: blue;
}
.row2 .col-2 {
  flex-grow: 1;
  align-self: center;
  background-color: whitesmoke;
}
.row2 .col-3 {
  flex-basis: 100px;
  flex-grow: 1;
  align-self: flex-end;
  background-color: brown;
}
