html{
  box-sizing: border-box;
}

*, *:after,*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}
:root {
  --verydark: hsl(300, 43%, 22%);
  --softpink: hsl(333, 80%, 67%);

  --darkgrayish: hsl(303, 10%, 53%);
  --lightgrayish: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

/*----------------*/
.star {
  border-radius: 10px;
  padding: 20px 70px 20px 30px;
  max-width: 470px;
}
.star p {
  margin-left: 20px;
}

.stars p {
  font-weight: 700;
}
.container {
  background-image: url("images/bg-pattern-top-desktop.svg"),
    url("images/bg-pattern-bottom-desktop.svg");

  background-position: top 0 left 0
  
  , bottom 0 right 0;
  background-repeat: no-repeat;
  background-size: 50% 50%, 70% 50%;

  background-color: white;

  width: 100%;
  min-height: 100vh;

    justify-content: center;
  display: flex;
  flex-direction: column;



}

.title h1 {
  /* line-height: 3rem; */
  color: var(--verydark);
  font-weight: 700;
  font-size: 3rem;
}
.title p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--darkgrayish);
  font-weight: 500;
  padding-top: 10px;
}

.stars p {
  display: inline-block;
  color: var(--verydark);
}


.row1 {
  display: flex;
  margin: 0 150px !important;
  display: flex;
  flex-wrap:wrap;
}

.row1 .col-1 {
  flex-grow: 1;
  flex-basis: 26rem;
  padding-right:1rem;
}
.row1 .col-2 {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}

.col-2 .row-1 {
  background-color: var(--lightgrayish);
  align-self: flex-start;
}
.col-2 .row-2 {
  background-color: var(--lightgrayish);
  align-self: center;
}
.col-2 .row-3 {
  background-color: var(--lightgrayish);
  align-self: flex-end;
}

@media only screen and (max-width: 600px) {
  .row2{
    justify-content: center !important;
    height: 100% !important;
  }

}

@media only screen and (max-width: 600px) {

 .stars{
   text-align: center;
 }
 .star img{
   margin: 0 3px 10px 3px;
 }
.star{
  padding: 15px 30px 15px 30px !important;
  margin-top: 10px;
}
 .star p {
  margin-left: 0;
}
 .title {
  text-align: center;
}
 .title h1 {
  font-size: 2rem;
} 
  .title p {
    font-size: 0.8rem;
  }
  .row1{
    margin: 2rem !important;
  }
  .row2{
    margin:0 2rem !important;

  }
  .row1 .col-1{
    padding-right: 0;
  }
  .card{
    margin-top: 20px;
  }
}

/*-------------*/
.row2 {
height: 300px;
  margin: 0 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
 
}


.row2 .col-1 {
  /* flex-grow: 1; */
  /* flex-basis: 26rem; */
  align-self: flex-start;

}


.card{
  padding: 40px;
  display: flex;
  flex-direction:column;
  background-color: var(--verydark);
  border-radius: 15px;

}
.card-header{
  display: flex;
  align-items: center;
}

.card .card-header p:first-child{
  color: var(--lightgrayish);
  font-weight: 600;
}

.card .card-header p:last-child{
  color: var(--softpink);
margin-top: 3px;
  font-weight: 500;
}
.card .card-header img{
  border-radius: 50%;
  width: 3rem;
  margin-right: 30px;
}

.card-body{
  color: var(--lightgrayish);
  font-weight: 500;
  margin-top: 30px;
  line-height: 1.3rem;
}
.card-s{
  flex-basis: 23rem;
}
.row2 .col-2 {

  /* flex-grow: 1; */
  align-self: center;

}
.row2 .col-3 {
  /* flex-basis: 26rem; */
  /* flex-grow: 1; */
  align-self: flex-end;

}

