* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-size: 17px;
  color: #1d1d1f;
  line-height: 1.47059;
  letter-spacing: 0.022em;
  font-weight: 400;
  color: #1d1d1f;
  font-style: normal;
}

body {
  margin-top: 44px;
}
a {
  text-decoration: none;
}
a,
img {
  margin: 0px;
  padding: 0px;
}

.df {
  display: flex;
}
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0px;
  margin: 0px;
}

nav {
  margin: 0px;
  padding: 0px;
}
.align-items-center {
  align-items: center;
}

.center {
  justify-content: center;
}
.align-self-center {
  align-self: center;
}
.text-center {
  text-align: center;
}
.flex-col {
  flex-direction: column;
}
.jc-between {
  justify-content: space-between;
}
/* ------------ */
.navbar-fixed {
  top: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
}
.navbar-dark {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 100;
}
.navbar-content {
  height: 44px;
  max-width: 980px;
  margin: 0 auto;
}
.navbar-item {
  font-size: 13.5px;
  font-weight: 300;
  letter-spacing: -0.01em;
}
.item-nav {
  color: #d7d7d7;
  transition: 0.5s;
}
.item-nav:hover {
  opacity: 1;
  filter: brightness(400%);
}
.nav-shop {
  color: #4076d0;
}
.nav-shop:hover {
  text-decoration: underline;
}

.icon-nav {
  width: 17px;
  height: 44px;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon-nav:hover {
  opacity: 1;
  filter: brightness(100%);
}

/* second navbar */
.navbar-light {
  background-color: #f5f5f7;
}
.navbar-s {
  padding: 12px 0;
  font-size: 14px;
}

/*-------------*/

.title {
  font-family:'SF Pro Display';
  font-size: 56px !important;
  line-height: 1.07143;
  letter-spacing: -0.005em;
  font-weight: 600;
  font-style: normal;
  padding-top: 47px;
}

.title-sub {
  font-size: 28px;
  margin-top: 6px;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: 0.004em;
}
.title-body {
  margin-top: 5px;
}
.title-body p {
  letter-spacing: 0.626px !important;
  color: #86868b;
}
/*----------------*/
.footbal {
  justify-content: space-between;
  align-items: center;
}
.footbal .title,
.footbal .title-sub {
  text-transform: uppercase !important;
  font-size: 40px;
  font-weight: 800px;
}
.grid .title {
  font-size: 38px !important;
}
.grid .title-sub {
  font-size: 21px !important;
}
.grid .title-link a {
  font-size: 17px !important;
}
/*--*/
.dot {
  height: 18px;
  width: 18px;
  background-color: #06c;
  border-radius: 50%;
  margin-top: 4px;
}
.triangle {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid #f3eddf;
  position: absolute;
  margin-top: 4px;
  margin-left: 7px;
}
/* -- */

.img-wide .title-link a {
  color: #2895fc !important;
}

.title-link a {
  font-size: 21px;
  margin: 0px 15px 0px 15px;
  color: #06c;
}

.link-blue:hover {
  text-decoration: underline;
}

.divider {
  margin-top: 12px;
}
.bg-img1 {
  background-image: url("../image/iphone_12_updated__jepm2xpxncuy_large.jpg");
  background-position: bottom center;
  height: 580px;
  background-size: 3010px 624px;
  background-repeat: no-repeat;
}

.bg-img2 {
  background-image: url("../image/sec2/iphone_12_pro_us__e5oyysg4k0ya_large.jpg");
  background-position: bottom center;
  height: 580px;
  background-size: 3010px 624px;
  background-repeat: no-repeat;
}

.bg-img3 {
  background-position: bottom center;
  height: 580px;
  background-size: 3010px 624px;
  background-repeat: no-repeat;
  background-image: url("../image/sec3/hero_ipad_pro_non_avail__fcrsmhs4b7ma_large.jpg");
}

main {
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
}
/* 1487 */
/* 1680 */
@media only screen and (min-width: 1069px) and (min-height: 776px) {
  .bg-img1 {
    background-image: url("../image/sec1/iphone_12_updated__jepm2xpxncuy_largetall.jpg");
    background-size: 3008px 738px !important;
    height: 690px !important;
  }
  .bg-img2 {
    background-image: url("../image/sec2/iphone_12_pro_us__e5oyysg4k0ya_largetall.jpg") !important;
    background-size: 3008px 738px !important;
    height: 690px !important;
  }
  .bg-img3 {
    background-image: url("../image/sec3/hero_ipad_pro_non_avail__fcrsmhs4b7ma_largetall.jpg");
    background-size: 3008px 738px !important;
    height: 690px !important;
  }
  
}

.white-text .title,
.white-text .title-sub {
  color: white;
}
.img-tv {
  height: 30px;
  width: 80px;
}
/* grid */

.grid-item {
  height: 580px;
}

.child1 {
  background-image: url(../image/img3.jpg);
  background-position: bottom center;
  background-repeat: no-repeat; 
  height: 580px;
}

/* a<--alan neshon mide--> */
/* @media screen and (min-width: 1487px) {
  body{
    background-color: green !important;
    padding:100px;
  }
} */

.child2 {
  background-image: url(../image/promo_watch_series_6_lte__f8lrasjnry2y_large.jpg);
  background-color: #cccccc;
  background-position: bottom center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 580px;
}

.child3 {
  background-image: url(../image/fantazi.jpg);
  background-color: #cccccc;
  background-position: bottom center;
  background-repeat: no-repeat;

  height: 580px;
}
.child4 {
  background-image: url(../image/promo_arcade__e7ps46tldi62_large.jpg);

  background-position: bottom center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 580px;
}
.child5 {
  background-image: url(../image/tile__cauwwcyyn9hy_large.jpg);
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: bottom center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 580px;
}
.child6 {
  background-image: url(../image/hey.jpg);
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: bottom center; /* Center the image */
  background-repeat: no-repeat; 
  height: 580px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px 10px 10px 10px;
}

.grid-1-item {
  grid-area: 1 / 1 / 2 / 2;
}
.grid-2-item {
  grid-area: 1 / 2 / 2 / 3;
}
.grid-3-item {
  grid-area: 2 / 1 / 3 / 2;
}
.grid-4-item {
  grid-area: 2 / 2 / 3 / 3;
}
.grid-5-item {
  grid-area: 3 / 1 / 4 / 2;
}
.grid-6-item {
  grid-area: 3 / 2 / 4 / 3;
}

.shop {
  background-image: url("../image/shop.svg");
  background-size: 17px 44px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
  backdrop-filter: saturate(180%) blur(20px);
  height: 100%;
}

.right:after {
  content: "";
  display: inline-block;
  margin-top: 1.05em;
  width: 8px;
  height: 8px;
  border-top: 2px solid #2997ff;
  border-right: 2px solid #2997ff;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.right-white:after {
  content: "";
  display: inline-block;
  margin-top: 1.05em;
  width: 8px;
  height: 8px;
  border-top: 2px solid #06c;
  border-right: 2px solid #06c;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.m1::after {
  content: "";

  display: inline-block;
  margin-top: 1.05em;
  width: 8px;
  height: 8px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.right-grid:after {
  content: "";
  display: inline-block;
  margin-top: 1.05em;
  width: 5px;
  height: 5px;
  border-top: 2px solid #06c;
  border-right: 2px solid #06c;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.title-vasat {
  padding-top: 24px;
}
.footer-body h5 {
  letter-spacing: normal;
  color: #1d1d1f;
  font-weight: 600;
  font-size: 12px !important;
  letter-spacing: -0.01em;
  margin-bottom: 0.7em;
}
.footer-head {
  font-size: 12px !important;
}
.footer-body a {
  margin-bottom: 0.7em;
  color: #515154;
  font-size: 12px;
}
.footer-body a:hover {
  text-decoration: underline;
}
.footer-privacy a:hover {
  text-decoration: underline;
}
.footer-privacy {
  margin-top: 10px;
}
.footer-fot {
  font-size: 12px;
  margin-bottom: 7px;
  padding-bottom: 8px;
}
.footer-fot a {
  color: #3c67cb;
}
.footer-fot a:hover {
  text-decoration: underline;
}
.footer-privacy {
  font-size: 12px;
}
.fot-divider span {
  color: #d2d2d7;
  margin-right: 10px;
  margin-left: 10px;
}
.fot-main {
  margin-left: 20px;
}
.fot-main a {
  color: #515154;
}
.fot-right {
  color: #515154;
}
ul {
  overflow: hidden;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-border {
  border-bottom: 1px solid #d2d2d7;
  color: #86868b;
}

.footer-link {
  color: #515154;
}
.footer-link:hover {
  text-decoration: underline;
}
.footer {
  max-width: 980px;
  margin: 0 auto;

  padding: 17px 0px 0px 0px;
  color: gray;
  font-size: 1rem;
  letter-spacing: normal;
}
footer li {
  padding-bottom: 0.8em;
  font-size: 12px;
  letter-spacing: -0.01em;
}
footer {
  background-color: #f5f5f7;
}

.test {
  object-fit: contain;
}

.sc::before {
  content: " \2197";
}
