body,
html {
    height: 100%;
    margin: 0;
    padding: 0;

}

body{
    background-color: hsl(233, 47%, 7%);
}

.df{
    display: flex;

}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card{
    /* margin-top: 100px !important; */
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.card-left{
    width: 45%;
    background: #1c1938;
}

.card-text{
    height:auto;
    padding:70px 40px 70px 60px;
}

.card-right{
    width: 45%;
}

.col-d{
    flex-direction: column;
}

span{
    color: hsl(277, 64%, 61%);
}


.mr{
    margin-right: 50px ;
}

.card-left{
    font-weight: 700;
    color: white;
    border-radius: 5px;
}

.child1{
    margin-bottom:20px;
    font-size: 40px; 

    font-family: "Lexend Deca", sans-serif !important;
}
.child2{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
    margin-bottom: 50px;
    font-weight: 400;
        font-family: "Inter", sans-serif !important;
}

p{
    margin: 5px;
}



.child-t{
    color: white;
    font-size: 20px;
    /* font-weight: 700; */
    margin-bottom: 5px;
    font-family: "Inter", sans-serif !important;

}
.child-b{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 5px;
    font-family: "Lexend Deca", sans-serif !important;



}
.img-right{

    border-radius: 0px 10px 10px 0px;
}

.child3{

}

.image-div{

    background-image: url(images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 0px 5px 5px 0px !important;
    background-color:hsl(277, 64%, 61%);
    background-blend-mode: multiply;
}
