* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

html {
    margin: 20px;
    font-family: 'Cambay', sans-serif;
}

.box {
    background-color: red;
    width: 200px;
    height: 200px;
}

.two {
    background-color: aqua;
}

.three {
    background-color: blue;
}

[v-clock] {
    display: none;
}

button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.mobile-menu-container {
    background-color: aqua;
    padding: 10px 0;
    /* height: 100vh;
    min-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 10rem; */
}

.mobile-menu-container p {
    margin: 5px;
    border-bottom: gray 1px solid;
    padding-bottom: 10px;
}

input {
    display: block;
    padding: 10px;
}

button.submit {
    margin-top: 10px;
    background-color: rgb(99, 169, 169);
    padding: 15px 30px;
    color: white;
    font-weight: 600;
    border-radius: 15px;
}

form h1 {
    margin: 20px 0;
    font-size: 30px;
}

.input-form {
    margin-top: 1000px;
}